@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lalezar&family=Noto+Sans:wght@700&family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: red;
}

ul,
li,
ol {
  list-style: none;
}

.inner .hidden {
  position: absolute;
  top: -9999;
  opacity: 0;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

#header {
  width: 100%;
  height: 15vh;
  z-index: 10;
}
#header .inner {
  margin: auto;
  width: 1180px;
  height: 100%;
  display: flex;
  align-items: center;
}
#header .inner .header_title {
  width: 150px;
  margin-right: 0px;
}
#header .inner .header_title img {
  width: 100%;
}
#header .inner .header_nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#header .inner .header_nav #gnb {
  margin-left: 30px;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
#header .inner .header_nav #gnb li a {
  color: #000;
  font-family: "Lalezar", cursive;
  font-size: 20px;
}
#header .inner .header_nav #gnb li a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#header .inner .header_status a {
  display: block;
  border: 3px solid aqua;
  padding: 5px 20px;
  color: #000;
  font-family: "Noto Sans", sans-serif;
}

#visual {
  width: 100%;
  height: 85vh;
  position: relative;
  z-index: 2;
}
#visual figure {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#visual figure .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-left: 60px;
}
#visual figure .inner .visual_txt {
  position: absolute;
  left: 0px;
  bottom: 250px;
  z-index: 2;
  font-family: "Lalezar", cursive;
}
#visual figure .inner .visual_txt .visual_title {
  font-size: 100px;
  line-height: 80px;
  letter-spacing: 2px;
}
#visual figure .inner .visual_txt .visual_detail {
  margin-top: 20px;
  font-size: 20px;
}
#visual figure .inner .visual_txt .visual_btn {
  cursor: pointer;
  margin-top: 20px;
  width: 220px;
  padding: 10px;
  border: none;
  background: #40c5fa;
  box-shadow: 5px 5px 10px rgba(64, 197, 250, 0.5);
  color: #fff;
  letter-spacing: 1px;
}
#visual figure .inner video {
  width: 90%;
  height: 80%;
  object-fit: cover;
  margin-top: 20px;
  margin-right: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
#visual figure .inner .visual_column_txt {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
#visual figure .inner .visual_column_txt span {
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 5px;
  writing-mode: vertical-lr;
  text-align: center;
}

#product {
  width: 100%;
  height: 200vh;
  position: relative;
  top: -50vh;
}
#product .container {
  padding-top: 50vh;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to left top, #dddddd, #e5e5e5, #eeeeee, #fdfdfd, #ffffff);
}
#product .inner {
  width: 1180px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
#product .inner .wrap {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  padding-right: 50px;
}
#product .inner .wrap .product_logo_box {
  width: 40%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#product .inner .wrap .product_logo_box .product_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20%;
}
#product .inner .wrap .product_logo_box .product_logo.on, #product .inner .wrap .product_logo_box .product_logo:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#product .inner .wrap .product_logo_box .product_logo img {
  width: 50%;
  object-fit: cover;
  filter: grayscale(1);
  cursor: pointer;
}
#product .inner .wrap .product_img_box {
  width: 30%;
  height: 80%;
}
#product .inner .wrap .product_img_box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#product .inner .wrap .product_detail_box {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}
#product .inner .wrap .product_detail_box .product_detail_title {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
}
#product .inner .wrap .product_detail_box .product_detail_title img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#product .inner .wrap .product_detail_box .product_detail-name {
  font-family: "Anton", sans-serif;
  font-size: 24px;
  color: #40c5fa;
  margin-bottom: 20px;
}
#product .inner .wrap .product_detail_box .product_detail-text {
  font: 14px/25px "arial";
  color: #555;
  margin-bottom: 20px;
}
#product .inner .wrap .product_detail_box .product_detail-btn {
  border: 3px solid #40c5fa;
  padding: 20px;
  background: none;
  cursor: pointer;
}
#product .inner .wrap .product_pagination_box {
  color: #888;
  position: absolute;
  bottom: 150px;
  right: 30px;
}
#product .inner .wrap .product_pagination_box a i {
  color: #888;
  font-size: 20px;
  cursor: pointer;
}
#product .inner .wrap .product_pagination_box span {
  margin: 0px 10px;
}

#technology {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 200vh;
}
#technology figure {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#technology figure .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
#technology figure .inner .wrap {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
#technology figure .inner .wrap .tec_column_txt {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 4px;
  transform: rotate(180deg);
  margin-right: 20px;
}
#technology figure .inner .wrap .tec_column_txt span {
  writing-mode: vertical-lr;
  text-align: center;
}
#technology figure .inner .wrap video {
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin-left: 10px;
  filter: grayscale(1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg);
}
#technology figure .inner .wrap .tec_txt {
  background: #fff;
  position: absolute;
  width: 400px;
  height: 450px;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  padding: 30px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#technology figure .inner .wrap .tec_txt .tec_title {
  width: 100%;
}
#technology figure .inner .wrap .tec_txt .tec_title img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}
#technology figure .inner .wrap .tec_txt .tec_detail {
  margin-top: 20px;
}
#technology figure .inner .wrap .tec_txt .tec_detail .tec_detail-title {
  font-size: 20px;
  font-family: "Anton", sans-serif;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
#technology figure .inner .wrap .tec_txt .tec_detail .tec_detail-text {
  font: bold 15px/25px "Poppins";
  letter-spacing: 1px;
  color: #777;
}
#technology figure .inner .wrap .tec_txt .tec_btn {
  margin-top: 20px;
  width: 220px;
  padding: 10px;
  background: none;
  border: 3px solid #40c5fa;
  font: bold 14px/1 "Poppins";
  letter-spacing: 4px;
}

#info {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: relative;
  overflow: hidden;
}
#info figure {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#info figure .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
#info figure .inner .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
#info figure .inner .wrap .info_txt {
  padding-right: 35px;
  width: 40%;
  margin-right: 40px;
}
#info figure .inner .wrap .info_txt .info_title {
  font: bold 70px/60px "arial";
}
#info figure .inner .wrap .info_txt .info_detail {
  margin-top: 20px;
}
#info figure .inner .wrap .info_txt .info_detail .info_detail-text {
  font: bold 15px/30px "Poppins";
  color: #999;
}
#info figure .inner .wrap .info_txt .info_btn {
  margin-top: 20px;
  width: 220px;
  padding: 10px;
  background: none;
  border: 3px solid #40c5fa;
  font: bold 14px/1 "Poppins";
  letter-spacing: 4px;
}
#info figure .inner .wrap .info_img_box {
  width: 55%;
}
#info figure .inner .wrap .info_img_box img {
  width: 90%;
  object-fit: cover;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#info figure .inner .wrap .info_column_txt {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 5px;
}
#info figure .inner .wrap .info_column_txt span {
  writing-mode: vertical-lr;
  text-align: center;
}
#info .info_background {
  position: absolute;
  transform: rotate(180deg);
  bottom: 0px;
  width: 100%;
  height: 500px;
  background: url("../img/wave.png") no-repeat center/cover;
  opacity: 0.5;
}

#footer {
  width: 100%;
  background: #444;
  padding: 100px 0;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#footer .inner::after,
#footer .inner ul.footer_nav {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1.footer_title {
  float: left;
  font: bold 24px/1 "arial";
  color: #666;
}
#footer .inner ul.footer_nav {
  float: right;
}
#footer .inner ul.footer_nav .footer_nav-btn {
  float: left;
  margin-left: 20px;
}
#footer .inner ul.footer_nav .footer_nav-btn a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  float: left;
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid #777;
  padding-top: 20px;
}
#footer .inner p {
  float: left;
  font: 12px/1 "arial";
  color: #777;
  width: 100%;
}

/* Header_sub */
#header_sub {
  width: 100%;
  height: 15vh;
  z-index: 10;
}
#header_sub .inner {
  margin: auto;
  width: 1180px;
  height: 100%;
  display: flex;
  align-items: center;
}
#header_sub .inner .header_sub_title {
  width: 150px;
  margin-right: 0px;
}
#header_sub .inner .header_sub_title img {
  width: 100%;
}
#header_sub .inner .header_sub_nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#header_sub .inner .header_sub_nav #gnb {
  margin-left: 30px;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
#header_sub .inner .header_sub_nav #gnb li a {
  color: #000;
  font-family: "Lalezar", cursive;
  font-size: 20px;
}
#header_sub .inner .header_sub_nav #gnb li a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#header_sub .inner .header_sub_status a {
  display: block;
  border: 3px solid aqua;
  padding: 5px 20px;
  color: #000;
  font-family: "Noto Sans", sans-serif;
}

.content {
  width: 100%;
}
.content .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.community .sub_visual {
  background: url("../img/visual3.jpg") no-repeat center/cover;
}
.community .inner .community_search_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #000;
  padding: 30px 0px;
}
.community .inner .community_search_box label {
  font: bold 16px "맑은 고딕";
  margin-right: 10px;
  color: #999;
}
.community .inner .community_search_box input[type=text] {
  width: 50%;
  height: 40px;
  border: none;
  background: #ececec;
  font: bold 16px "맑은 고딕";
  margin-left: 10px;
  padding: 20px;
}
.community .inner .community_search_box select {
  padding: 0px 10px;
  height: 40px;
  border: none;
  background: #ececec;
  font: bold 16px "맑은 고딕";
}
.community .inner .community_search_box input[type=submit] {
  border: none;
  width: 80px;
  height: 40px;
  margin-left: 20px;
  padding: 5px;
  text-align: center;
  font: bold 16px "맑은 고딕";
  color: #fff;
  background: #555;
  cursor: pointer;
}
.community .inner table {
  width: 100%;
  margin-bottom: 50px;
  border-collapse: collapse;
}
.community .inner table tr:nth-of-type(even) {
  background: #eee;
}
.community .inner table tr:hover {
  background: #555;
  color: #fff;
}
.community .inner table tr:hover a {
  color: #fff;
}
.community .inner table tr th {
  padding: 15px;
  background: #555;
  color: #fff;
}
.community .inner table tr th:nth-of-type(1) {
  width: 10%;
}
.community .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.community .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.community .inner table tr td {
  padding: 13px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.community .inner table tr td:nth-of-type(2) {
  text-align: left;
}
.community .inner table tr td:nth-of-type(3) {
  font-family: "맑은 고딕";
}
.community .inner table tr td a {
  color: #333;
  font-family: "arial";
  line-height: 1.4;
}
.community .inner .pagination {
  width: 100%;
  text-align: center;
}
.community .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .pagination .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #eee;
  text-align: center;
  background: #555;
}
.community .inner .pagination .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #eee;
  text-align: center;
  background: #555;
}
.community .inner .pagination .numbers {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.community .inner .pagination .numbers a {
  border: 1px solid #888;
  display: inline-block;
  font: 11px/30px "arial";
  color: #666;
  width: 30px;
  height: 30px;
  margin: 0px 5px;
}
.community .inner .pagination .numbers a:hover {
  background: #666;
  color: #fff;
}

@media screen and (max-width: 1170px) {
  .community .inner .community_search_box label {
    font: bold 12px "맑은 고딕";
    margin-right: 5px;
  }
  .community .inner .community_search_box input[type=text] {
    font: bold 12px "맑은 고딕";
    margin-left: 5px;
  }
  .community .inner .community_search_box select {
    font: bold 12px "맑은 고딕";
  }
  .community .inner .community_search_box input[type=submit] {
    margin-left: 10px;
    font: bold 12px "맑은 고딕";
  }
  .community .inner table tr th:nth-of-type(1) {
    width: 14%;
  }
  .community .inner table tr th:nth-of-type(3) {
    width: 17%;
  }
  .community .inner table tr th:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .community .inner table tr td:nth-of-type(4) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-child(n+6) {
    display: none;
  }
}
@media screen and (max-width: 539px) {
  .community .inner .community_search_box label {
    display: none;
  }
  .community .inner .community_search_box input[type=text] {
    width: 60%;
  }
  .community .inner .community_search_box select {
    width: 20%;
  }
  .community .inner .community_search_box input[type=submit] {
    width: 20%;
  }
  .community .inner table tr th {
    font-size: 14px;
  }
  .community .inner table tr th:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .community .inner table tr th:nth-of-type(3) {
    width: 29%;
  }
  .community .inner table tr td {
    font-size: 14px;
  }
  .community .inner table tr td:nth-of-type(1) {
    display: none;
  }
  .community .inner .pagination .numbers {
    display: none;
  }
}
.member {
  width: 100%;
  height: 100%;
}
.member .member_banner {
  width: 100%;
  height: 80vh;
  background: url("../img/member_banner2.jpg") no-repeat center/cover fixed;
}
.member .inner {
  width: 1180px;
  margin: 0 auto;
}
.member .inner .member_profile-box {
  width: 100%;
}
.member .inner .member_profile-box .member_profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.member .inner .member_profile-box .member_profile .member_img {
  width: 400px;
  height: 400px;
}
.member .inner .member_profile-box .member_profile .member_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 60px;
}
#gallery #searchBox {
  display: flex;
  justify-content: center;
}
#gallery #searchBox input[type=text] {
  padding: 15px;
  border: none;
  background: #555;
  color: #fff;
  border-radius: 10px;
  font: bold 16px "arial";
}
#gallery #searchBox input[type=text]::placeholder {
  color: #fff;
}
#gallery #searchBox button {
  border: none;
  padding: 15px;
  margin-left: 10px;
  background: #555;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font: bold 16px "arial";
}
#gallery .wrap {
  position: relative;
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#gallery .wrap .loading {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#gallery .wrap .loading.off {
  opacity: 0;
}
#gallery .wrap .list {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translateY(100px);
  transition: 1s;
}
#gallery .wrap .list.on {
  opacity: 0;
  transform: translateY(0px);
}
#gallery .wrap .list .item {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2);
}
#gallery .wrap .list .item a {
  display: block;
  width: 100%;
  height: 100%;
}
#gallery .wrap .list .item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#gallery aside {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#gallery aside div img {
  width: 100%;
}
#gallery aside span {
  position: absolute;
  top: 10px;
  right: 40px;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
}

.join .inner h2 {
  font: bold 18px/1 "arial";
  color: #555;
  margin-bottom: 20px;
}
.join .inner #terms {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 20px;
  font: 12px/1.3 "arial";
  color: #888;
  background: #eee;
  margin-bottom: 10px;
}
.join .inner .agreement {
  margin-bottom: 70px;
}
.join .inner .agreement label[for=agree] {
  font-size: 12px;
}
.join .inner table {
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  width: 100%;
}
.join .inner table tr:last-child th {
  background: #fff;
  text-align: center;
  border-right: none;
}
.join .inner table tr th {
  width: 20%;
  text-align: left;
  font: bold 14px/1 "arial";
  color: #666;
  padding: 20px 30px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #ececec;
}
.join .inner table tr th input[type=submit],
.join .inner table tr th input[type=reset] {
  width: 150px;
  height: 40px;
  border: none;
  background: tomato;
  font: bold 14px/1 "arial";
  color: #fff;
  margin: 0 10px;
}
.join .inner table tr td {
  border-bottom: 1px solid #bbb;
  padding: 20px 30px;
}
.join .inner table tr td input[type=text],
.join .inner table tr td input[type=password],
.join .inner table tr td input[type=email] {
  width: 30%;
  height: 30%;
  border: 1px solid #bbb;
  background: lightcyan;
  padding-left: 20px;
}
.join .inner table tr td input[type=checkbox],
.join .inner table tr td input[type=radio] {
  margin-right: 5px;
}
.join .inner table tr td label {
  margin-right: 30px;
}
.join .inner table tr td select {
  width: 20%;
  height: 30px;
  border: 1px solid #bbb;
  background: #eeffff;
  padding-left: 20px;
}
.join .inner table tr td textarea#aboutMe {
  width: 80%;
  height: 100px;
  border: 1px solid #bbb;
  background: #eeffff;
  resize: none;
  padding: 20px;
}
.join .inner table tr td .hobby_txt,
.join .inner table tr td .gender_txt {
  font: 12px/1 "arial";
  color: hotpink;
  margin-top: 10px;
  display: none;
}

@media screen and (max-width: 1170px) {
  .join .sub_viual {
    background: pink;
  }
  .join .inner table tr:last-child th {
    display: block;
    width: 100%;
  }
  .join .inner table tr th {
    display: none;
  }
  .join .inner table tr td input[type=text],
.join .inner table tr td input[type=password],
.join .inner table tr td input[type=email] {
    width: 50%;
  }
  .join .inner table tr td select {
    width: 30%;
    padding-left: 5px;
  }
  .join .inner table tr td textarea#aboutMe {
    width: 90%;
  }
  .join .inner table tr td .hobby_txt,
.join .inner table tr td .gender_txt {
    display: block;
  }
}
@media screen and (max-width: 539px) {
  .join .sub_viual {
    background: pink;
  }
  .join .inner table tr th input[type=submit],
.join .inner table tr th input[type=reset] {
    width: 45%;
    margin: 0.5%;
  }
  .join .inner table tr td input[type=text],
.join .inner table tr td input[type=password],
.join .inner table tr td input[type=email] {
    width: 100%;
  }
  .join .inner table tr td label {
    display: block;
    margin-right: 0px;
  }
  .join .inner table tr td select#company {
    width: 100%;
    margin-top: 10px;
  }
  .join .inner table tr td textarea#aboutMe {
    width: 100%;
  }
}
.location {
  width: 100%;
}
.location #map {
  width: 100%;
  height: 500px;
  border: none;
  margin-bottom: 20px;
}
.location .traffic {
  display: flex;
  margin-bottom: 10px;
}
.location .traffic li {
  margin-right: 20px;
}
.location .traffic li a {
  display: block;
  width: 200px;
  height: 40px;
  background: #555;
  font: bold 12px/40px "맑은 고딕";
  color: #fff;
  text-align: center;
  border: 1px solid #555;
}
.location .traffic li.on a {
  background: #fff;
  color: #333;
}
.location .branch {
  display: flex;
}
.location .branch li {
  margin-right: 20px;
}
.location .branch li a {
  display: block;
  width: 200px;
  height: 40px;
  background: #555;
  font: bold 12px/40px "맑은 고딕";
  color: #fff;
  text-align: center;
  border: 1px solid #555;
}
.location .branch li.on a {
  background: #fff;
  color: #333;
}

@media screen and (max-width: 1170px) {
  .location .traffic {
    flex-wrap: wrap;
    justify-content: center;
  }
  .location .traffic li {
    margin-bottom: 10px;
  }
  .location .branch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .location .branch li {
    margin-bottom: 10px;
  }
}
.youtube_body {
  background: url(../img/test.jpg);
  background-position: center;
  background-size: cover;
}
.youtube_body .content {
  width: 100%;
  height: 85vh;
  padding-top: 100px;
}
.youtube_body .content .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.youtube_body .content .inner .vidList {
  width: 100%;
}
.youtube_body .content .inner .vidList article {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.youtube_body .content .inner .vidList article .pic {
  display: block;
  width: 100%;
  height: 60%;
  margin-bottom: 30px;
}
.youtube_body .content .inner .vidList article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.youtube_body .content .inner h1 {
  font: normal 50px/1 "arial";
  color: #fff;
  text-align: center;
}
.youtube_body .content .inner h1 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.youtube_body .content .inner h1 span::before {
  content: "/";
  margin-right: 20px;
  margin-left: 10px;
}
.youtube_body figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.youtube_body figure.pop iframe {
  width: 100%;
  height: 100%;
}
.youtube_body figure.pop .btnClose {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
}

body {
  overflow-x: hidden;
}

/* tablet 구간 */
@media screen and (max-width: 1170px) {
  #header {
    width: 100%;
    height: 10vh;
  }
  #header .inner {
    width: 100%;
  }
  #header .inner .header_title {
    display: none;
  }
  #header .inner .header_nav #gnb {
    margin-left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #header .inner .header_nav #gnb li a {
    color: #000;
    font-family: "Lalezar", cursive;
    font-size: 20px;
  }
  #header .inner .header_nav #gnb li a:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  #header .inner .header_status {
    display: none;
  }

  #visual {
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: 2;
  }
  #visual figure {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  #visual figure .inner {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #visual figure .inner .visual_txt {
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    font-family: "Lalezar", cursive;
  }
  #visual figure .inner .visual_txt .visual_title {
    font-size: 100px;
  }
  #visual figure .inner .visual_txt .visual_detail {
    display: none;
  }
  #visual figure .inner .visual_txt .visual_btn {
    display: none;
  }
  #visual figure .inner video {
    height: 50%;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  #visual figure .inner .visual_column_txt {
    display: none;
  }

  #product {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
  }
  #product .container {
    padding: 0px;
    width: 100%;
    background: none;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  #product .inner .wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-right: 0px;
  }
  #product .inner .wrap .product_logo_box {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  #product .inner .wrap .product_logo_box .product_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
  }
  #product .inner .wrap .product_logo_box .product_logo:nth-of-type(n + 5) {
    display: none;
  }
  #product .inner .wrap .product_logo_box .product_logo img {
    width: 50%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(1);
    cursor: pointer;
  }
  #product .inner .wrap .product_img_box {
    width: 100%;
    height: 50%;
  }
  #product .inner .wrap .product_img_box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  #product .inner .wrap .product_detail_box {
    display: none;
  }
  #product .inner .wrap .product_pagination_box {
    display: none;
  }

  #technology {
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: relative;
    top: 0;
  }
  #technology figure .inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0px;
  }
  #technology figure .inner .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #technology figure .inner .wrap .tec_column_txt {
    display: none;
  }
  #technology figure .inner .wrap video {
    width: 90%;
    height: 50%;
    object-fit: cover;
    margin-left: 0px;
    filter: grayscale(1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  #technology figure .inner .wrap .tec_txt {
    padding: 0px;
    background: #fff;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    box-shadow: none;
    margin-top: 50px;
  }

  #info figure .inner {
    width: 100%;
    padding: 0px;
  }
  #info figure .inner .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #info figure .inner .wrap .info_img_box {
    width: 90%;
  }
  #info figure .inner .wrap .info_img_box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  #info figure .inner .wrap .info_txt {
    padding-right: 0px;
    padding: 30px;
    width: 100%;
    margin-right: 0px;
    text-align: center;
  }
  #info figure .inner .wrap .info_txt .info_title {
    font: bold 60px/60px "arial";
  }
  #info figure .inner .wrap .info_txt .info_detail {
    margin-top: 20px;
  }
  #info figure .inner .wrap .info_txt .info_detail .info_detail-text {
    font: bold 15px/30px "Poppins";
    color: #999;
  }
  #info figure .inner .wrap .info_txt .info_btn {
    margin-top: 20px;
    width: 220px;
    padding: 10px;
    background: none;
    border: 3px solid #40c5fa;
    font: bold 14px/1 "Poppins";
    letter-spacing: 4px;
  }
  #info figure .inner .wrap .info_column_txt {
    display: none;
  }
  #info .info_background {
    position: absolute;
    transform: rotate(180deg);
    bottom: -50px;
    width: 100%;
    height: 500px;
    background: url("../img/wave.png") no-repeat center/cover;
    opacity: 0.5;
  }

  #footer {
    width: 100%;
    background: #444;
    padding: 100px 0;
  }
  #footer .inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  #footer .inner::after,
#footer .inner ul.footer_nav {
    content: "";
    display: block;
    clear: both;
  }
  #footer .inner h1.footer_title {
    float: left;
    font: bold 24px/1 "arial";
    color: #666;
  }
  #footer .inner ul.footer_nav {
    float: right;
  }
  #footer .inner ul.footer_nav .footer_nav-btn {
    float: left;
    margin-left: 20px;
  }
  #footer .inner ul.footer_nav .footer_nav-btn a {
    font: bold 14px/1 "arial";
    color: #666;
  }
  #footer .inner address {
    float: left;
    width: 100%;
    font: 14px/1.3 "arial";
    color: #777;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #777;
    padding-top: 20px;
  }
  #footer .inner p {
    float: left;
    font: 12px/1 "arial";
    color: #777;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
