.member {
	width: 100%;
	height: 100%;
	.content_banner {
		background: url("../img/member_banner.jpg") no-repeat center/cover;
	}
	.inner {
		width: 1180px;
		margin: 0 auto;
		.member_title {
			margin-top: 100px;
			margin-bottom: 100px;
			font-size: 70px;
			text-align: center;
			color: #000;
			&:first-child {
				text-align: center;
			}
		}
		.member_about {
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding-bottom: 100px;
			border-bottom: 2px solid #bbb;
			.member_about_img {
				width: 70%;
				text-align: end;
				img {
					width: 30%;
					height: 200px;
					object-fit: cover;
				}
			}
			.member_about_text {
				width: 50%;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				h2 {
					font-size: 40px;
					margin-bottom: 20px;
					font-weight: 700;
					line-height: 55px;
				}
				p {
					font-size: 20px;
					line-height: 27px;
					font-family: "poppins";
					font-weight: bold;
				}
			}
		}
		.member_ceo {
			width: 100%;
			display: flex;
			align-items: center;
			padding-bottom: 100px;
			border-bottom: 2px solid #bbb;
			.member_ceo_img {
				width: 30%;
				height: 65vh;
				border-radius: 10px;
				background: url(../img/member_ceo.jpg) center/cover;
			}
			.member_ceo_txt {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 70%;
				padding-left: 50px;
				padding-right: 100px;
				font-size: 30px;
				font-family: "poppins";
				font-weight: bold;
				line-height: 45px;
				.member_ceo_name {
					font-size: 60px;
					margin-bottom: 30px;
				}
				.member_ceo_awards {
					margin-top: 30px;
					a {
						color: #666;
						display: block;
					}
				}
			}
		}
		.member_profile-box {
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-between;
			display: none;
			&.on {
				display: flex;
			}
			.member_profile {
				position: relative;
				width: 30%;
				display: flex;
				align-items: center;
				margin-bottom: 30px;
				cursor: pointer;
				.member_img {
					width: 100%;
					height: 100%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 30px;
					}
				}
				.member_text {
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.5);
					color: #fff;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					border-radius: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					text-align: center;
					opacity: 0;
					.member_name {
						font-size: 50px;
					}
					.member_position {
						font-size: 40px;
					}
					.member_info {
						padding: 20px;
						font-size: 18px;
					}
				}
				&:hover .member_text {
					opacity: 1;
				}
			}
		}
	}
}

@media screen and (max-width: $tabletSize) {
	.member {
		.inner {
			width: 100%;
			margin: 0 auto;
			.member_title {
				margin-top: 50px;
				margin-bottom: 50px;
				font-size: 70px;
			}
			.member_about {
				display: flex;
				width: 100%;
				flex-direction: column-reverse;
				justify-content: center;
				align-items: center;
				padding-bottom: 100px;
				border-bottom: 2px solid #bbb;
				.member_about_img {
					width: 100%;
					text-align: center;
				}
				.member_about_text {
					margin-top: 25px;
					width: 100%;
					text-align: center;
					display: flex;
					flex-direction: column;
					justify-content: center;
					h2 {
						font-size: 40px;
					}
					p {
						font-size: 16px;
						line-height: 27px;
						font-family: "poppins";
						font-weight: bold;
						color: #999;
					}
				}
			}
			.member_ceo {
				width: 100%;
				padding-bottom: 100px;
				border-bottom: 2px solid #bbb;
				flex-direction: column;
				.member_ceo_img {
					width: 60%;
					height: 50vh;
					object-fit: cover;
				}
				.member_ceo_txt {
					margin-top: 50px;
					flex-direction: column;
					text-align: center;
					width: 80%;
					padding-left: 0px;
					padding-right: 0px;
					font-size: 24px;
					line-height: 35px;
					.member_ceo_name {
						text-align: center;
						font-size: 60px;
						margin-bottom: 30px;
					}
					.member_ceo_awards {
						margin-top: 30px;
						a {
							color: #666;
							display: block;
						}
					}
				}
			}
			.member_profile-box {
				width: 100%;
				flex-wrap: wrap;
				justify-content: space-between;
				display: none;
				&.on {
					display: flex;
				}
				.member_profile {
					position: relative;
					width: 30%;
					display: flex;
					align-items: center;
					margin-bottom: 30px;
					cursor: pointer;
					.member_img {
						width: 100%;
						height: 100%;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 30px;
						}
					}
					.member_text {
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.5);
						color: #fff;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						border-radius: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						text-align: center;
						opacity: 0;
						.member_name {
							font-size: 30px;
							margin-bottom: 20px;
						}
						.member_position {
							font-size: 20px;
						}
						.member_info {
							display: none;
						}
					}
					&:hover .member_text {
						opacity: 1;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobileSize) {
	.member {
		.inner {
			width: 100%;
			margin: 0 auto;

			.member_ceo {
				.member_ceo_txt {
					font-size: 20px;
					line-height: 25px;
					.member_ceo_name {
					}
					.member_ceo_awards {
						a {
							font-size: 22px;
						}
					}
				}
			}
		}
	}
}
