@charset "UTF-8";

/* Header_sub */

#header_sub {
	position: absolute;
	width: 100%;
	height: 15vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.3);
	.inner {
		margin: auto;
		width: 1180px;
		height: 100%;
		display: flex;
		align-items: center;
		.header_sub_title {
			width: 150px;
			margin-right: 0px;
			img {
				width: 100%;
				filter: brightness(100);
			}
		}
		.header_sub_nav {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			#gnb {
				margin-left: 30px;
				width: 60%;
				display: flex;
				justify-content: space-around;
				li {
					a {
						display: block;
						position: relative;
						color: #fff;
						font-family: "Lalezar", cursive;
						font-size: 20px;
						text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
						&.on::before {
							content: "";
							display: block;
							width: 40px;
							height: 40px;
							background: url("../img/header_icon.png");
							background-size: cover;
							position: absolute;
							top: -35px;
							left: calc(50% - 15px);
							z-index: 12;
						}
						&:hover {
							&::before {
								content: "";
								display: block;
								width: 40px;
								height: 40px;
								background: url("../img/header_icon.png");
								background-size: cover;
								position: absolute;
								top: -35px;
								left: calc(50% - 15px);
								z-index: 12;
							}
						}
					}
				}
			}
		}
		.header_sub_status {
			display: flex;
			a {
				margin-left: 10px;
				display: block;
				padding: 5px 20px;
				color: #fff;
				font-family: "Lalezar", cursive;
				font-size: 20px;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			}
		}
	}
}

.content {
	width: 100%;
	padding-top: 15vh;
	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}
}

#footer_sub {
	margin-top: 100px;
	width: 100%;
	background: #444;
	padding: 30px 0;
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		&::after,
		ul.footer_sub_nav {
			content: "";
			display: block;
			clear: both;
		}
		h1.footer_sub_title {
			float: left;
			font: bold 24px/1 "arial";
			color: #666;
		}
		ul.footer_sub_nav {
			float: right;
			.footer_sub_nav-btn {
				float: left;
				margin-left: 20px;
				a {
					font: bold 14px/1 "arial";
					color: #666;
				}
			}
		}
		address {
			float: left;
			width: 100%;
			font: 14px/1.3 "arial";
			color: #777;
			margin-bottom: 20px;
			margin-top: 20px;
			border-top: 1px solid #777;
			padding-top: 20px;
		}
		p {
			float: left;
			font: 12px/1 "arial";
			color: #777;
			width: 100%;
		}
	}
}

@media screen and (max-width: $tabletSize) {
	#footer_sub {
		width: 100%;
		background: #444;
		padding: 100px 0;
		.inner {
			width: 100%;
			margin: 0 auto;
			position: relative;
			&::after,
			ul.footer_sub_nav {
				content: "";
				display: block;
				clear: both;
			}
			h1.footer_sub_title {
				float: left;
				font: bold 24px/1 "arial";
				color: #666;
			}
			ul.footer_sub_nav {
				float: right;
				.footer_sub_nav-btn {
					float: left;
					margin-left: 20px;
					a {
						font: bold 14px/1 "arial";
						color: #666;
					}
				}
			}
			address {
				float: left;
				width: 100%;
				font: 14px/1.3 "arial";
				color: #777;
				margin-bottom: 20px;
				margin-top: 20px;
				border-top: 1px solid #777;
				padding-top: 20px;
			}
			p {
				float: left;
				font: 12px/1 "arial";
				color: #777;
				width: 100%;
			}
		}
	}
}
