.youtube_body {
	background: url(../img/test.jpg);
	background-position: center;
	background-size: cover;
	.content {
		width: 100%;
		height: 85vh;
		padding-top: 100px;
		.inner {
			width: 1180px;
			height: 100%;
			margin: 0 auto;
			position: relative;
			.vidList {
				width: 100%;
				article {
					position: absolute;
					left: 50%;
					top: 45%;
					transform: translate(-50%, -50%);
					width: 60%;
					.pic {
						display: block;
						width: 100%;
						height: 60%;
						margin-bottom: 30px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
						}
					}
				}
			}
			h1 {
				font: normal 50px/1 "arial";
				color: #fff;
				text-align: center;

				span {
					font: normal 20px/1 "맑은 고딕";
					color: #aaa;
					&::before {
						content: "/";
						margin-right: 20px;
						margin-left: 10px;
					}
				}
			}
		}
	}

	figure.pop {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		padding: 5vw;
		display: flex;
		justify-content: center;
		align-content: center;
		background: rgba(0, 0, 0, 0.7);
		iframe {
			width: 100%;
			height: 100%;
		}

		.btnClose {
			position: absolute;
			top: 50px;
			right: 50px;
			color: #fff;
		}
	}
}
