#footer {
	width: 100%;
	background: #000;

	padding-top: 55px;
	padding-bottom: 55px;

	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		display: flex;
		justify-content: space-between;

		.footer_logo {
			width: 30%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.footer_logo_img {
				width: 100%;
				img {
					width: 50%;
					filter: brightness(100);
				}
			}
			.footer_logo_txt {
				color: #fff;
				font-size: 14px;
			}
		}
		.footer_txt {
			position: relative;
			h2 {
				font-size: 24px;
				color: #2cb6d5;
				margin-bottom: 25px;
				font-family: "Noto Sans", sans-serif;
			}
			address {
				color: #818181;
				margin-bottom: 10px;
			}
			p {
				color: #818181;
				margin-bottom: 10px;
			}
			.footet_txt_link {
				position: absolute;
				bottom: 0;
				display: flex;
				a {
					display: block;
					color: #fff;
					margin-right: 30px;
					font-size: 12px;
					font-family: "Noto Sans", sans-serif;
				}
			}
		}

		.footer_top_btn {
			position: relative;
			.triangle {
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 10px solid #fff;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
			.line {
				width: 2px;
				height: 50px;
				position: absolute;
				background: #fff;
				left: 50%;
				transform: translateX(-50%);
				top: 10px;
			}
			.footer_top_btn_txt {
				margin-top: 72px;
				writing-mode: vertical-lr;
				font-family: "Noto Sans", sans-serif;
				font-size: 10px;
				color: #fff;
				letter-spacing: 5px;
			}
		}
	}
}
