#header {
	width: 100%;
	height: 15vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.4);
	.inner {
		margin: auto;
		width: 1180px;
		height: 100%;
		display: flex;
		align-items: center;
		.header_title {
			width: 150px;
			margin-right: 0px;
			img {
				width: 100%;
			}
		}
		.header_nav {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			#gnb {
				margin-left: 30px;
				width: 60%;
				display: flex;
				justify-content: space-around;
				li {
					a {
						color: #fff;
						font-family: "Lalezar", cursive;
						font-size: 20px;
						&:hover {
							text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
						}
					}
				}
			}
		}
		.header_status {
			a {
				display: block;
				border: 3px solid aqua;
				padding: 5px 20px;
				color: #000;
				font-family: "Noto Sans", sans-serif;
			}
		}
	}
}
