#header {
	width: 100%;
	height: 15vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.4);
	.inner {
		margin: auto;
		width: 1180px;
		height: 100%;
		display: flex;
		align-items: center;
		.header_title {
			width: 150px;
			margin-right: 0px;
			img {
				filter: brightness(100);
				width: 100%;
			}
		}
		.header_nav {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			#gnb {
				margin-left: 30px;
				width: 60%;
				display: flex;
				justify-content: space-around;
				li {
					a {
						display: block;
						position: relative;
						color: #fff;
						font-family: "Lalezar", cursive;
						font-size: 20px;
						text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

						&:hover {
							&::after {
								content: "";
								display: block;
								width: 100%;
								height: 2px;
								background: aqua;
								position: absolute;
								bottom: 0px;
								z-index: 12;
							}
						}
						&.on::before {
							content: "";
							display: block;
							width: 100%;
							height: 2px;
							background: aqua;
							position: absolute;
							bottom: 0px;
							z-index: 12;
						}
					}
				}
			}
		}
		.header_status {
			display: flex;
			a {
				margin-left: 10px;
				display: block;
				padding: 5px 20px;
				color: #fff;
				font-family: "Lalezar", cursive;
				font-size: 20px;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			}
		}
	}
}
