#info {
	width: 100%;
	height: 937px;
	z-index: 10;
	position: relative;
	overflow: hidden;
	figure {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		.inner {
			width: 1180px;
			height: 100%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			position: relative;
			.wrap {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				position: relative;

				.info_txt {
					padding-right: 35px;
					width: 40%;
					margin-right: 40px;
					.info_title {
						font-size: 100px;
						line-height: 80px;
						letter-spacing: 2px;
						font-family: "Lalezar", cursive;
					}
					.info_detail {
						margin-top: 20px;
						.info_detail-text {
							font: bold 15px/30px "Poppins";
							color: #999;
						}
					}
					.info_btn {
						margin-top: 20px;
						width: 220px;
						padding: 10px;
						background: none;
						border: 3px solid rgb(64, 197, 250);
						font: bold 14px/1 "Poppins";
						letter-spacing: 4px;
					}
				}
				.info_img_box {
					width: 55%;
					img {
						width: 100%;
						object-fit: cover;
						box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
						border-radius: 5px;
					}
				}
				.info_column_txt {
					width: 5%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 12px;
					font-family: "Noto Sans", sans-serif;
					font-weight: 700;
					letter-spacing: 5px;
					span {
						writing-mode: vertical-lr;
						text-align: center;
					}
				}
			}
		}
	}
	.info_background {
		position: absolute;
		transform: rotate(180deg);
		bottom: 0px;
		width: 100%;
		height: 500px;
		background: url("../img/wave.png") no-repeat center/cover;
		opacity: 0.5;
	}
}
