#technology {
	width: 100%;
	height: 100vh;
	z-index: 10;
	position: absolute;
	top: 200vh;
	figure {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		.inner {
			width: 1180px;
			height: 100%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			position: relative;
			.wrap {
				width: 100%;
				height: 80%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				position: relative;
				.tec_column_txt {
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 12px;
					font-family: "Noto Sans", sans-serif;
					font-weight: 700;
					letter-spacing: 4px;
					transform: rotate(180deg);
					margin-right: 20px;
					span {
						writing-mode: vertical-lr;
						text-align: center;
					}
				}
				video {
					width: 90%;
					height: 90%;
					object-fit: cover;
					margin-left: 10px;
					filter: grayscale(1);
					box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
					transform: rotateY(180deg);
				}
				.tec_txt {
					background: #fff;
					position: absolute;
					width: 400px;
					height: 450px;
					top: 50%;
					transform: translateY(-50%);
					right: 0px;
					padding: 30px;
					text-align: center;
					box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
					.tec_title {
						width: 100%;
						img {
							width: 150px;
							height: 100px;
							object-fit: cover;
						}
					}
					.tec_detail {
						margin-top: 20px;
						.tec_detail-title {
							font-size: 20px;
							font-family: "Anton", sans-serif;
							letter-spacing: 3px;
							margin-bottom: 15px;
						}
						.tec_detail-text {
							font: bold 15px/25px "Poppins";
							letter-spacing: 1px;
							color: #777;
						}
					}
					.tec_btn {
						margin-top: 20px;
						width: 220px;
						padding: 10px;
						background: none;
						border: 3px solid #3bafc9;
						font: bold 14px/1 "Poppins";
						letter-spacing: 4px;
					}
				}
			}
		}
	}
}
