#visual {
	width: 100%;
	height: 937px;
	position: relative;
	z-index: 2;
	padding-top: 180px;
	figure {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		.inner {
			width: 1180px;
			height: 100%;
			margin: 0 auto;
			display: flex;
			justify-content: flex-end;
			position: relative;
			padding-left: 60px;
			.visual_txt {
				position: absolute;
				left: 0px;
				bottom: 250px;
				z-index: 2;
				font-family: "Lalezar", cursive;
				.visual_title {
					font-size: 100px;
					line-height: 80px;
					letter-spacing: 2px;
				}
				.visual_detail {
					margin-top: 20px;
					font-size: 20px;
				}
				.visual_btn {
					cursor: pointer;
					margin-top: 20px;
					width: 220px;
					padding: 10px;
					border: none;
					background: #1fb9dc;
					box-shadow: 5px 5px 10px rgba(64, 197, 250, 0.5);
					color: #fff;
					letter-spacing: 1px;
				}
			}
			video {
				width: 90%;
				height: 80%;
				object-fit: cover;
				margin-top: 20px;
				margin-right: 10px;
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
			}
			.visual_column_txt {
				height: 80%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 15px;
				span {
					font-size: 12px;
					font-family: "Noto Sans", sans-serif;
					font-weight: 700;
					letter-spacing: 5px;
					writing-mode: vertical-lr;
					text-align: center;
				}
			}
		}
	}
}
